# 忽略 Python 虛擬環境
venv/
.env/

# 忽略 Python 編譯後的快取
__pycache__/
*.pyc
*.pyo
*.pyd

# 忽略訓練模型或大型檔案
pretrained_models/
checkpoints/
logs/
outputs/

#
static/uploads/
# cursor ai
.cursor/

# Jupyter Notebook 的暫存檔
.ipynb_checkpoints/

# VSCode 編輯器設定（可選）
.vscode/

# macOS/Windows 系統檔
.DS_Store
Thumbs.db
